<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/paraskumarzumbaralalsanghavi/IdeaProjects/FileSharingApp/src/main/java/pageObject/Signup.java">
        <classes>

            <class name="functionalTest.SignupTest">
            </class>

            <class name="functionalTest.LoginTest">
            </class>

            <class name="functionalTest.FileUploadTest">

            </class>

        </classes>

    </test>
</suite>